<div>
  <ul>
    <li *ngFor="let product of products$">
      <h5>Product Name:</h5>
      <p>{{product.name}}</p>
      <p>{{product.age}}</p>
      <p>{{product.student}}</p>
      <p>{{product.income}}</p>
      <button type="button" (click)="getProduct()" >Get product</button>
      <div [hidden]="isHideEdit">
        <div class="form-group">
          <form
            [formGroup]="productEditForm"
            #ngForm = "ngForm"
            (ngSubmit)="productEditForm.valid">
            <div class="name-form">
              <label>Product Name
                <input type="text"
                       formControlName="name"
                       name="name">
              </label>
            </div>
          </form>
        </div>
      </div>
      <button type="submit" (click)="deleteProduct(product.slug)">Delete</button>
    </li>
  </ul>
</div>
