<h1 class="content-header">Product Management</h1>
<div class="content-container">
  <table class="content-table">
    <tr>
      <th>Product Name</th>
      <th>Age Brackets</th>
      <th>Income Brackets</th>
      <th>Student Status</th>
      <th>Edit Product</th>
      <th>Delete Product</th>
    </tr>
    <tr *ngFor="let product of products$">
      <td>{{product.name}}</td>
      <td>{{product.age}}</td>
      <td>{{product.income}}</td>
      <td>{{product.student}}</td>
      <td>
        <button class="primary-btn" type="button" routerLink="{{product.slug}}">Edit</button>
<!--        <a routerLink="{{product.slug}}">Edit</a>-->
      </td>
      <td>
        <button class="warning-btn" type="submit" (click)="deleteProduct(product.slug, product.name)">Delete</button></td>
    </tr>
  </table>
</div>
