$dark-blue: #1948A7;
$medium-blue: #0A6DFC;
$light-blue: #2B86F1;
$betina-font: 'BetinaSansRegular', sans-serif;

/* Basic Styling */
* {
  box-sizing: border-box;
  padding: 0 .1em;
  margin: 0;
}

body {
  font-family: $betina-font;
  font-size: 1em;
}

nav {
  background-color: $dark-blue;
  padding: .2em;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.menu {
  list-style-type: none;
}

.logo {
  font-size: 3em;
  padding: .3em .5em .3em .5em;
}

.item {
  padding: .3em;
}

.item:not(.button) a:hover,
.item a:hover::after {
  color: $light-blue;
}

/* Mobile Styling */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu

//
//.nav-links {
//  display: flex;
//  justify-content: flex-end;
//  list-style-type: none;
//  font-size: 1em;
//  font-weight: bold;
//  margin-top: .3em;
//  margin-bottom: -1em;
//}
//.nav-link {
//  margin-left: 1em;
//  margin-right: 1em;
//  margin-bottom: 0;
//  text-decoration: none;
//  :link {
//    color: white;
//  }
//  :visited {
//    color: white;
//  }
//  :hover {
//    color: $light-blue;
//  }
//  :active {
//    color: $light-blue;
//  }
//}
//#welcome {
//  color: pink;
//  text-align: left;
//}

