<nav class="top-bar">
  <ul>
    <li>
      <a routerLink="api/products"
         routerLinkActive="active">PRODUCTS</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a routerLink="api/manage"
         routerLinkActive="active">MANAGE PRODUCTS</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a routerLink="api/manage/add"
         routerLinkActive="active">ADD PRODUCTS</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a
        routerLink="api/login"
        routerLinkActive="active">LOGIN</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a
        (click)="logout()"
        routerLinkActive="active">LOGOUT</a>
    </li>
  </ul>

</nav>

<div class="content-container">
  <router-outlet></router-outlet>
</div>
