/* You can add global styles to this file, and also import other style files */
$dark-blue: #1948A7;
$medium-blue: #0A6DFC;
$light-blue: #2B86F1;
$betina-font: 'BetinaSansRegular', sans-serif;

body {
  margin: 0;
}

.navbar {
  background-color: $dark-blue;
  display: flex;
  width: 100%;
}

.brand {
  flex-grow: 1;
  margin: 0;
}

.brand-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0 1em 0 1em;
}

.navbar-logo {
  padding-right: 1em;
  font-size: 1.3em;
}

.brand-item {
  padding-right: 1em;
}

.nav {
  display: flex;
  justify-content: right;
}

.navbar-logo, .nav-link {
  color: white;
  text-decoration: none;
}

.nav-item {
  display: inline;
  padding-right: 1em;
  padding-left: 1em
}

.nav-items {
  display: flex;
}

.nav-items, .dropdown-items {
  list-style-type: none;
}

.dropdown-items {
  display: none;
}
