/* You can add global styles to this file, and also import other style files */
$dark-blue: #1948A7;
$medium-blue: #0A6DFC;
$light-blue: #2B86F1;
$betina-font: 'BetinaSansRegular', sans-serif;

body {
  margin: 0;
  font-family: $betina-font;
  font-size: 1.2em;
}

/* Navigation bar */

.navbar {
  background-color: $dark-blue;
  display: flex;
  width: 100%;
}

.navbar-logo {
  text-decoration: none;
  margin-right: 2em;
}

.brand {
  flex-grow: 1;
  margin: 0;
}

.brand-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0 1em 0 1em;
}

.brand-item {
  color: white;
  padding-right: 1em;
}

.navbar-logo {
  padding-right: 1em;
  font-size: 1.3em;
  color: white;
}

.nav {
  display: flex;
  justify-content: right;
}

.nav-items {
  display: flex;
  list-style-type: none;
}

.nav-item {
  display: inline;
  padding-right: 1em;
  padding-left: 1em;
}

.nav-link {
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-decoration: none;
  color: white;

  &:hover {
    color: $light-blue;
  }
}

.dropdown-btn:hover {
  .dropdown-items {
    display: block;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-items {
  display: none;
  position: absolute;
  background-color: $dark-blue;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  list-style-type: none;
}

.dropdown-item {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

  &:hover {
    color: $light-blue;
  }
}

/* Content */

.content-container {
  margin: 2em;
}

.form-group {
  border: $medium-blue solid 5px;
  padding: 2em;
  width: 30%;
  box-shadow: 5px 10px 5px #888888;
}

.content-header {
  font-size: 2.2em;
}

.content-header-2 {
  margin-top: 2em;
  font-size: 2em;
}

.content-list {
  font-size: 1.5em;
}

.content-table {
  border: $dark-blue solid 5px;
  border-collapse: collapse;

  th {
    background-color: $dark-blue;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
  }

  td {
    border: $dark-blue solid 2px;
    padding: 1em;
  }
}

.warning-btn {
  background-color: #CC0000;
  color: white;
  border-radius: 5px;
  padding: .4em;

  &:hover {
    background-color: darkred;
  }
}

.primary-btn {
  background-color: $medium-blue;
  color: white;
  border-radius: 5px;
  padding: .4em;

  &:hover {
    background-color: $dark-blue;
  }
}

.form-error {
  color: red;
}
