<h1 class="content-header">User Management</h1>
<div class="content-container">
  <table class="content-table" *ngIf="users$">
    <tr>
      <th>User ID</th>
      <th>Username</th>
      <th>User Role</th>
      <th>Edit User</th>
      <th>Delete User</th>
    </tr>
    <tr *ngFor="let user of users$">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.role}}</td>
      <td *ngIf="user.role == 'ADMIN' || user.role == 'PRODUCT-MANAGER'">
        <p>---</p>
      </td>
      <td *ngIf="user.role == 'USER'">
        <a routerLink="{{user.id}}">Edit</a>
      </td>
      <td *ngIf="user.role == 'ADMIN' || user.role == 'PRODUCT-MANAGER'">
        <p>---</p>
      </td>
      <td *ngIf="user.role == 'USER'">
        <button class="warning-btn" type="submit" (click)="deleteUser(user.id)">Delete</button>
      </td>
    </tr>
  </table>
</div>
