<h1>Login</h1>

<div *ngIf="!isLoggedIn">
  <form [formGroup]="loginForm"
        (ngSubmit)="loginForm.valid && signIn()"
        #ngForm = "ngForm">
    <div class="username-form">
      <label>Username<br>
        <input type="text"
               formControlName="username"
               name="username">
      </label>
    </div>
    <div class="form-error" *ngIf="username.touched && username.invalid || ngForm.submitted && username.invalid">
      <div *ngIf="username.errors.required">
        This field is required.
      </div>
    </div>
    <br>
    <div class="password-form">
      <label>Password<br>
        <input type="password"
               formControlName="password"
               name="password">
      </label>
    </div>
    <div class="form-error" *ngIf="password.touched && password.invalid || ngForm.submitted && password.invalid">
      <div *ngIf="password.errors.required">
        This field is required.
      </div>
    </div>
    <br>
    <button type="submit" class="primary-btn">Login</button>
  </form>
</div>
