<h1 class="content-header">Welcome!</h1>
<div>
  <p>Here you can get personalized recommendations for BANK's products!</p>
  <p>To begin, please create an account and from there, navigate to the "Product Recommendations" tab.</p>
  <a routerLink="../register">Register</a>
  <p>Already have an account? You can login below!</p>
  <a routerLink="../login">Login</a>
  <p>To test out this application using the admin, product manager,
    or user roles, use the below provided login information:</p>
  <div>
    <table class="content-table">
      <tr>
        <th>Role</th>
        <th>Username</th>
        <th>Password</th>
      </tr>
      <tr>
        <td>ADMIN</td>
        <td>admin</td>
        <td>admin</td>
      </tr>
      <tr>
        <td>PRODUCT-MANAGER</td>
        <td>productmanager</td>
        <td>password</td>
      </tr>
      <tr>
        <td>USER</td>
        <td>test-user</td>
        <td>password</td>
      </tr>
    </table>
  </div>
</div>
