<h2>Product Recommendations</h2>

<div class="form-group">
  <form [formGroup]="queryForm"
        (ngSubmit)="queryForm.valid && getProductsByCriteria()"
        #ngForm = "ngForm">
    <div class="age-form">
      <label>How old are you?<br><br>
        <select formControlName="age"
                name="age">
          <option value="" disabled>
            Age
          </option>
          <option *ngFor="let item of ageBrackets | keyvalue"
                  value="{{item.value}}">
            {{item.key}}
          </option>
        </select>
      </label>
    </div>
    <div *ngIf="ngForm.submitted && age.invalid">
      Age is required
    </div>
    <br><br>
    <div class="income-form">
      <label>What is your yearly income?<br><br>
        <select formControlName="income"
                name="income">
          <option value="" disabled>
            Income
          </option>
          <option *ngFor="let item of incomeBrackets | keyvalue"
                  value="{{item.value}}">
            {{item.key}}
          </option>
        </select>
      </label>
    </div>
    <div *ngIf="ngForm.submitted && income.invalid">
      Income is required
    </div>
    <br><br>
    <div class="student-form">
      <label>Are you a student?<br><br></label>
      <label>
        <input type="radio"
               name="student"
               formControlName="student"
               value="True">
        Yes
      </label>
      <label>
        <input type="radio"
               name="student"
               formControlName="student"
               value="False">
        No
      </label>
    </div>
    <div *ngIf="ngForm.submitted && student.invalid">
      Please choose "yes" or "no"
    </div>
    <br><br>
    <button type="submit">Get recommendations</button>
  </form>
</div>
<div>
</div>
