<h1>Edit Product</h1>

<p>{{productName}}</p>
<p>{{productAge}}</p>

<div class="form-group">
  <form [formGroup]="productEditForm"
        (ngSubmit)="productEditForm.valid && updateProduct()"
        #ngForm = "ngForm">
    <div class="name-form">
      <label>Product name<br>
        <input type="text"
               formControlName="name"
               name="name">
      </label>
    </div>
    <div class="form-error" *ngIf="name.touched && name.invalid || ngForm.submitted && name.invalid">
      <div *ngIf="name.errors.minlength">
        Product names must be at least three characters in length.
      </div>
      <div *ngIf="name.errors.pattern">
        Product names can only contain alphanumeric characters.
      </div>
    </div>
    <br><br>
    <div class="age-form">
      <label>Select age brackets<br><br>
        <select formControlName="age"
                name="age"
                multiple>
          <option *ngFor="let item of ageBrackets | keyvalue"
                  value="{{item.value}}">
            {{item.key}}
          </option>
        </select>
      </label>
    </div>
    <div class="form-error" *ngIf="age.touched && age.invalid || ngForm.submitted && age.invalid">
      Age is required
    </div>
    <br><br>
    <div class="income-form">
      <label>Select income brackets<br><br>
        <select formControlName="income"
                name="income"
                multiple>
          <option *ngFor="let item of incomeBrackets | keyvalue"
                  value="{{item.value}}">
            {{item.key}}
          </option>
        </select>
      </label>
    </div>
    <div class="form-error" *ngIf="income.touched && income.invalid || ngForm.submitted && income.invalid">
      Income is required
    </div>
    <br><br>
    <div class="student-form">
      <label>Is this product exclusively for students?<br><br></label>
      <label>
        <input type="radio"
               name="student"
               formControlName="student"
               value="true">
        Yes
      </label>
      <label>
        <input type="radio"
               name="student"
               formControlName="student"
               value="false">
        No
      </label>
    </div>
    <div class="form-error" *ngIf="student.touched && student.invalid ||ngForm.submitted && student.invalid">
      Please choose "yes" or "no"
    </div>
    <br><br>
    <div class="submit-button">
      <input type="submit" value="Save changes">
    </div>
  </form>
  <div *ngIf="isSubmitted">
    <div>Product updated successfully</div>
    <button routerLink="..">Back</button>
  </div>
</div>
