<nav class="navbar">
  <div class="brand">
    <ul class="brand-items">
      <li>
        <a class="navbar-logo"
           routerLinkActive="active"
           routerLink="home">
          <i class="fa fa-university"></i>  BANK</a>
      </li>
      <li class="brand-item"
          *ngIf="isLoggedIn">
        <a>Welcome, {{this.username}}</a>
      </li>
    </ul>
  </div>
  <div class="nav">
    <ul class="nav-items">
      <li class="nav-item"
          *ngIf="isLoggedIn">
        <a class="nav-link active"
           routerLink="products"
           routerLinkActive="active"
           aria-current="page">
          PRODUCT RECOMMENDATIONS
        </a>
      </li>
      <li class="dropdown-btn"
          *ngIf="showProductManagement">
        <a class="nav-link dropdown-toggle"
           id="navbarDropdown"
           role="button">
          MANAGEMENT
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-items"
            aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item"
               routerLink="manage/products"
               routerLinkActive="active">MANAGE PRODUCTS
            </a>
          </li>
          <li>
            <a class="dropdown-item"
               routerLink="manage/products/add"
               routerLinkActive="active">ADD PRODUCTS
            </a>
          </li>
          <li *ngIf="showUserManagement">
            <a class="dropdown-item"
               routerLink="manage/users"
               routerLinkActive="active">USER MANAGEMENT
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item"
          *ngIf="!isLoggedIn">
        <a class="nav-link active"
           routerLink="login"
           routerLinkActive="active"
           aria-current="page">
          LOGIN
        </a>
      </li>
      <li class="nav-item"
          *ngIf="!isLoggedIn">
        <a class="nav-link active"
           routerLink="register"
           routerLinkActive="active"
           aria-current="page">
          REGISTER
        </a>
      </li>
      <li class="nav-item"
          *ngIf="isLoggedIn">
        <a class="nav-link active"
           (click)="logout()"
           routerLinkActive="active">
          LOGOUT
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="content-container">
  <router-outlet></router-outlet>
</div>
