<h1>Register</h1>

<div>
  <form [formGroup]="registerForm"
        (ngSubmit)="registerForm.valid && onSubmit()"
        #ngForm = "ngForm">
    <div class="username-form">
      <label>Username<br>
        <input type="text"
               formControlName="username"
               name="username">
      </label>
    </div>
    <div class="password-form">
      <label>Password<br>
        <input type="password"
               formControlName="password"
               name="password">
      </label>
    </div>
    <br>
    <button type="submit" class="primary-btn">Register</button>
  </form>
</div>

<!--TODO: error handling (username must be alphanumeric)-->
<!--TODO: touched for forms, color for touched-->
